/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/
@media (min-width: 1025px) and (max-width: 1280px) {

	#food-menu-showcase .container { max-width: 900px }
	
	#food-menu .container {
		max-width: 950px;

		.food-menu-box .food-box-description { font-size: .85rem }

		.food-legend { font-size: .8rem }
	}

	#online-order .cart-empty-description { font-size: 1rem }
}

/* iPad Pro Portrait and Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

	#food-menu-showcase { padding: 0 }
	
	#food-menu .container {

		.food-menu-box .food-box-description { font-size: .85rem }

		.food-legend { font-size: .8rem }
	}

	#online-order .cart-empty-description { font-size: 1rem }

}

/* iPad Pro Portrait */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) { #food-menu .container { width: 950px } }

/* Landscape */
@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) { #food-menu .container { max-width: 1250px } }

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1023px) {

	#food-menu-showcase { padding: 0 }

	#food-menu {
		margin-bottom: 2rem;

		.food-legend {
			transform: none;
			top: auto;
			left: 10px;
			bottom: -20px;
		}

		.food-menu-container {
			flex-wrap: wrap;
	
			.food-menu-box { width: 45% }
		}
	}

	#online-order {

		.online-order-container {

			.online-order-header .order-group-right { justify-content: space-evenly }

			.order-group-left { width: 30% }

			.order-group-right {
				width: 55%;
				justify-content: center;
				
				.order-quantity { width: 50% }
			}
		}
	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #food-menu-showcase { padding: 0 }

	#food-menu {
		margin-bottom: 2rem;

		.food-legend {
			transform: none;
			top: auto;
			left: 10px;
			bottom: -20px;
		}

		.food-menu-container {
			flex-wrap: wrap;
	
			.food-menu-box { width: 45% }
		}
	}

	#online-order {

		.online-order-container {

			.online-order-header .order-group-right { justify-content: space-evenly }

			.order-group-left { width: 30% }

			.order-group-right {
				width: 55%;
				justify-content: center;
				
				.order-quantity { width: 50% }
			}
		}
	}
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
  
  #food-menu-showcase { padding: 0 }

	#food-menu {
		margin-bottom: 4rem;

		.food-legend {
			transform: none;
			top: auto;
			left: -4px;
			bottom: -50px;

			p { margin: 0 .5rem }
		}

		.food-menu-container {
			flex-wrap: wrap;
	
			.food-menu-box { width: 100% }
		}

		.menu-categories a { margin: 0 .7rem }
	}

	#online-order {

		.online-order-container {

			.online-order-header { display: none }

			.order-group-left { width: 30% }

			.order-box {
				flex-wrap: wrap;

				.order-group-left {
					width: 100%;
					margin-bottom: 1.5rem;
				}

				.order-group-right {
					width: 100%;
					justify-content: space-between;
				}

				.order-price { display: none }
			}

			.order-quantity {
				width: 20%;

				.quantity-number {
					margin: 0 .5rem;
					width: 50%;
				}
			}

			a {
				width: 100%;
				display: block;
				text-align: center;
				float: none;
			}
		}
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  
  #food-menu-showcase { padding: 0 }

	#food-menu {
		margin-bottom: 4rem;

		.food-legend {
			transform: none;
			top: auto;
			left: -4px;
			bottom: -50px;

			p { margin: 0 .5rem }
		}

		.food-menu-container {
			flex-wrap: wrap;
	
			.food-menu-box { width: 100% }
		}

		.menu-categories a { margin: 0 .7rem }
	}

	#online-order {

		.online-order-container {

			.online-order-header { display: none }

			.order-group-left { width: 30% }

			.order-box {
				flex-wrap: wrap;

				.order-group-left {
					width: 100%;
					margin-bottom: 1.5rem;
				}

				.order-group-right {
					width: 100%;
					justify-content: space-between;
				}

				.order-price { display: none }
			}

			.order-quantity {
				width: 35%;

				.quantity-number {
					margin: 0 .5rem;
					width: 50%;
				}
			}

			a {
				width: 100%;
				display: block;
				text-align: center;
				float: none;
			}
		}
	}
  
}

/* Iphone SE - Portrait */
@media screen and (max-width: 320px) and (orientation: portrait) {
	#food-menu .menu-categories a {
		margin: 0 .5rem;
		font-size: .8rem;
	}
}