#online-order {

	.cart-empty-description {
		font-size: 1.2rem;
		color: lighten($primary-dark, 45%);
		text-transform: uppercase;
	}
	
	.online-order-container {
		display: none;

		/** Global layout **/
		.order-group-right {
			@include flex(row, space-between, flex-start);
			width: 45%;
		}

		.order-group-left { width: 55% }
		.order-row { @include flex(row, space-between, flex-start) }

		.online-order-header, .order-box {
			border-bottom: 1.3px solid $primary-red;
			padding: 1rem 0;	
		}

		.order-quantity {
			@include flex(row, center, center);
			flex-wrap: wrap;

			button, input {
				border: 1.5px solid $primary-red;
				background: none;
				outline: none;
				color: $primary-white;
				height: 30px;
				padding: 0 .5rem;
			}
			
			input:focus, button:hover { border-color: lighten($primary-red, 20%) }

			/* Remove text */
			span {
				width: 43%;
				margin-top: .5rem;
				font-size: .7rem;
				cursor: pointer;

				&:hover { color: darken($primary-white, 15%)}
			}

			.quantity-number {
				width: 30%;
				margin: 0 1rem;

				&::placeholder { color: $primary-white }
			}
		}

		.online-order-footer { margin-top: 5rem }
	}
}

