footer {
	background: $primary-red;
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;

	.footer-container {
	

		@include flex(column, center, center);
			
		ul {
			color: $primary-dark;
			width: 30%;
			@include flex(row, space-around, center);
			font-size: 2rem;

			li { transition: color 500ms ease-in-out }

			li:hover { color: $primary-white }
		}
	
	}
}