/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  header #desktop-header { padding-left: 2rem }
  
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

		header #desktop-header { padding-left: 2rem }
		
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

		
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
	header {
		transition: none;
		position: fixed;
		background: lighten($primary-dark, 10%);

		.container {
			transition: none;
			padding: 0;
		}

		#desktop-header { display: none }

		#mobile-header {
			display: block;
			position: relative;
			height: 50px;

			.bar-container {
				width: 50px;
				height: 50px;
				position: absolute;
				top: 0;
				left: 0;
			}
	
			.header-bar {
				width: 23px;
				height: 1.7px;
				background: $primary-red;
				position: absolute;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%) rotate(0deg);
				transition: transform 300ms ease-in-out 150ms;

				&::before, &::after {
					content: '';
					position: absolute;
					width: inherit;
					height: inherit;
					background: inherit;
					left: 0;
					top: 0;
					transition: top 300ms ease-in-out 300ms, transform 300ms ease-in-out 150ms;
					transform: rotate(0deg);
				}

				&::before { top: -8px }
				&::after { top: 8px }
			}

			/** When clicking bar menu**/
			.mobile-header-enabled.header-bar::before, .mobile-header-enabled.header-bar::after {
				top: 0;
				transition: top 300ms ease-in-out, transform 300ms ease-in-out 150ms;
			}

			.mobile-header-enabled.header-bar { transform: translate(-50%, -50%) rotate(45deg) }
			
			.mobile-header-enabled.header-bar::before { transform: rotate(-90deg) }

			/** Mobile header modal **/
			.mobile-header-modal {
				background: purple;
				position: fixed;
				top: 0;
				left: 0;
				width: 100vw;
				height: 100vh;
			}
		}
	}

}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  //CSS
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  //CSS
  
}