header {
	color: $primary-red;
	position: absolute;
	top: 0;
	width: 100%;
	z-index: 1;
	transition: background 500ms ease-in-out;
	
	.container { transition: padding 500ms ease-in-out }

	#mobile-header { display: none }

	#desktop-header {
		@include flex(row, center, center);
		padding-left: 3rem;

		ul {
			@include flex(row, center, center);

			li a {
				display: block;
				padding: .5rem 1rem;
				transition: color 300ms ease-in-out;
				text-transform: uppercase;
				letter-spacing: .1rem;
				font-size: .9rem;
			}

			li:hover a { color: #fff }
		}
	}

	.logo {
		width: 150px;
		height: 150px;
		border-radius: 50%;
		margin: 0 2rem;
		transition: all 500ms ease-in-out;
	}
}

/*** Header animations ***/
.logo-intro,
.header-intro-fast,
.header-intro-medium,
.header-intro-slow { opacity: 0 }

.logo-intro { animation: header-intro 800ms ease-in-out forwards 500ms }

.header-intro-fast { animation: header-intro 800ms ease-in-out forwards 800ms }
.header-intro-medium { animation: header-intro 800ms ease-in-out forwards 1.25s }
.header-intro-slow { animation: header-intro 800ms ease-in-out forwards 1.7s }

@keyframes header-intro { to { opacity: 1 } }

/** Normal header **/
header.header-fixed {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background: lighten($primary-dark, 10%);
	z-index: 50;

	.container { padding: 0 }

	.logo {
		width: 70px;
		height: 70px;
	}
}