#checkout {
	@include flex(row, space-between, stretch);

	h2 { font-size: 2rem }

	a, button{ font-size: .9rem }

	.regex-alert {
		margin-top: 1rem;
		font-size: .9rem;
		width: 100%;
	}

	form { width: 100% }

	.contact-review,
	form {
		border: 1px solid $primary-red;
		border-radius: $border-radius-primary;
	}

	.address-container,
	.payment-container {
		width: 60%;
		padding: 2rem 10rem;
	}
	
	/** Shipping **/
	.address-container {
		@include flex(column, center, center);
		
		.field-box {
			@include flex(row, space-between, center);
			margin: 1rem 0;
			position: relative;
			z-index: 1;
			flex-wrap: wrap;
			
			input { width: 100% }
		}

		.field-box:first-child input { width: 48% }

		.field-box:nth-child(2), 
		.field-box:nth-child(6) {
			@include flex(column, flex-start, flex-start);
		}

		.select-box {
			@include flex(row, space-between, center);
			flex-wrap: wrap;
			
			.field-box {
				margin: 0;
				width: 32%;

				select { width: 100% }
			}
		}
	}
	
	/** Payment **/
	.payment-container {
		
		.contact-review .contact-box {

			@include flex(row, space-between, center);
			font-size: .9rem;
			border-bottom: 1px solid $primary-red;

			.address-preview { width: 80% }

			.shipping-method span { font-weight: bold }

			&:last-child { border: none }
		}

		/** Payment Form **/
		form {

			.radio-custom-checked,
			.radio-disabled-checked {
				width: 20px;
				height: 20px;
				border-radius: 50%;
				position: relative;
				@include flex(column, center, center);
				margin-right: .5rem;
			}
			
			.radio-disabled-checked {
				background: $primary-white;
				border: 1.5px solid #000;

				&::after {
					content: '';
					position: relative;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: #000;
				}
			}

			.radio-custom-checked {
				background: #000;

				&::after {
					content: '';
					position: relative;
					width: 5px;
					height: 5px;
					border-radius: 50%;
					background: $primary-white;
				}
			}

			.payment-header,
			.payment-header-group label { cursor: pointer }

			.payment-header {
				@include flex(row, space-between, center);
				background: lighten($primary-dark, 10%);
				transition: background 150ms ease-in-out;

				&:hover { background: lighten($primary-dark, 15%); }

				.payment-header-group {
					@include flex(row, flex-start, center);
					position: relative;
				
					.visa-logo,
					.master-logo,
					.amex-logo {
						width: 40px;
						height: 25px;
						display: block;
						margin: 0 .3rem;
					}
	
					.visa-logo { background: url('../imgs/visa-logo.svg') no-repeat center/cover }
					.master-logo { background: url('../imgs/masterCard-logo.svg') no-repeat center/cover }
					.amex-logo { background: url('../imgs/amex-logo.svg') no-repeat center/cover }
				}
			}

			 /** Card form **/
			.payment-card .payment-box {
				
				.field-box {
					position: relative;

					&:last-child {
						@include flex(row, space-between, flex-start);
					
						input,
						.security-code-box { width: 48% }

						.security-code-box input { width: 100% }

						.security-code-box {
							position: relative;

							.security-code-icon {
								position: absolute;
								top: 50%;
								transform: translateY(-50%);
								right: 10px;
								cursor: pointer;

								&:hover + .security-code-popup {
									transform: scale(1);
									opacity: 1;
									transition: 
										transform 300ms ease-in-out,
										opacity 300ms ease-in-out;
								}
							}

							.security-code-popup {
								background: #111;
								padding: .85rem;
								font-size: .7rem;
								position: absolute;
								right: -93px;
    						top: -100px;
								border-radius: $border-radius-primary;
								width: 220px;
								z-index: 2;
								transform: scale(0);
								opacity: 0;
								transition: 
									transform 300ms ease-in-out,
									opacity 200ms ease-in-out;
								transform-origin: center bottom;

								&:hover {
									transform: scale(1);
									opacity: 1;
									transition: 
										transform 300ms ease-in-out,
										opacity 300ms ease-in-out;
								}

								&::before {
									content: '';
									position: absolute;
									bottom: -20px;
									left: 50%;
									transform: translateX(-50%);
									width: 10px;
									height: 10px;
									border-color: #111 transparent transparent transparent;
									border-width: 10px 10px 10px 10px;
									border-style: solid;
								}
							}
						}
					}
				}

				input { width: 100% }

				.input-icon {
					right: 20px;
					z-index: 1;
				}
			}

			/** Paypal box **/
			.payment-paypal {

				.payment-header .payment-header-group label { width: 95px }

				.payment-box {
					padding: 1.5rem 5rem;
					img {
						width: 200px;
						margin: 0 auto 1rem;
					}
				}
			}
		}
	}

	/** Preview Order **/
	.order-preview {
		background: lighten($primary-dark, 10%);
		padding: 2rem;
		width: 40%;
		position: relative;

		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 2px;
			height: 100%;
			background: #000;
		}

		hr {
			border: none;
			border-radius: $border-radius-primary;
			border-bottom: 1.6px solid $primary-red;
		}

		.product-preview-list {
			overflow-y: auto;
			max-height: 100px;
			padding: 1rem 0 0 1rem;

			.product-box {
				@include flex(row, space-between, flex-start);
				width: 40%;

				.product-name {
					font-weight: bold;
					position: relative;
					z-index: 1;
				}

				.product-quantity {
					position: absolute;
					background: $primary-dark;
					border-radius: 50%;
					width: 20px;
					height: 20px;
					line-height: 20px;
					left: -15px;
					top: -10px;
					text-align: center;
					z-index: -1;
				}

				.product-price { font-size: .85rem }
			}
		}

		.product-preview-discount {
			@include flex(row, space-between, center);
			width: 60%;
			
			input {
				border-radius: $border-radius-primary;
				border: 3px solid $primary-dark;
				padding: .5rem;
				outline: none;
				width: 100%;
				margin-right: 1rem;
			}
		}

		.product-preview-total {
			width: 50%;
			
			.total-box {
				@include flex(row, space-between, center);

				.shipping-type,
				.total-price span { font-weight: bold }

				&:first-child { width: 65% }

				&:last-child { width: 90% }
			}
		}
	}
}