#checkout {
	@include flex(row, space-between, stretch);
	position: relative;
	min-height: 110vh;
	overflow: hidden;

	h2 { font-size: 2rem }

	a, button{ font-size: .9rem }

	.regex-alert {
		margin-top: 1rem;
		font-size: .9rem;
		width: 100%;
	}

	form {
		width: 100%;
		
		.order-row a {
			transition: color 200ms ease-in-out;

			&:hover { color: darken($primary-white, 20%) }

			i {
				font-size: .65rem;
				margin-right: .7rem;
			}
		}
	}

	.contact-review, form {
		border: 1px solid $primary-red;
		border-radius: $border-radius-primary;
	}

	.form-switch-container { width: 60% }

	.order-preview-desktop { display: block }
	.order-preview-mobile { display: none }

	.shipping-container, .payment-container {
		width: 60%;
		padding: 2rem 5rem;
		position: absolute;
		transition: all 1s ease-in-out;
	}
}

.form-left { transform: translateX(-850px) !important }
.form-reset { transform: translateX(0px) !important }
.form-right { transform: translateX(850px) !important }