/** Shipping form **/
#checkout .shipping-container {
	@include flex(column, center, center);
	
	.field-box {
		@include flex(row, space-between, center);
		margin: 1rem 0;
		position: relative;
		z-index: 1;
		flex-wrap: wrap;
		
		input { width: 100% }
	}

	.field-box:first-child input,
	.field-box:nth-child(4) input, 
	.field-box:nth-child(4) .select-box { width: 48% }

	.field-box:nth-child(4) {

		.select-box {
			@include flex(row, space-between, center);
			flex-wrap: wrap;
			position: relative;

			select { width: 100% }

			.input-icon { right: 5% }
		}
	}
}