/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {

	#numbers .numbers-container {

		.numbers-box .digit { font-size: 2.5rem }

		.numbers-box {
			height: 250px;

			.number-description { font-size: 1.1rem }
		}
	}
  
}

/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

	#about-showcase { height: 30vh }
  
  #numbers .numbers-container {

		.numbers-box .digit { font-size: 2.5rem }

		.numbers-box {
			height: 250px;

			.number-description { font-size: 1.1rem }
		}
	}
	
	#sneak .sneak-container .sneak-box-description { padding-top: 5rem }

}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

		#about-showcase { height: 30vh }
		
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {

	#about-showcase { height: 25vh }
  
  #numbers .numbers-container {

		.numbers-box .digit { font-size: 2rem }

		.numbers-box {
			height: 250px;

			.number-description { font-size: 1rem }
		}
	}
	
	#sneak {

		.container { padding: 2rem 0 }

		.sneak-container {
			flex-wrap: wrap;

			.sneak-box {
				width: 80%;
				margin: 1rem 0;
			}

			.sneak-box-description { padding-top: 5rem }
		}

	}
	
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  #sneak {

		.container { padding: 2rem 0 }

		.sneak-container { .sneak-box-description { padding-top: 2.5rem } }
	}
	
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #about-showcase { height: 25vh }
  
  #numbers .numbers-container {
		@include flex(column, center, space-between);

		.numbers-box .digit { font-size: 2rem }

		.numbers-box {
			height: 250px;
			width: 100%;
			margin: 1rem 0;

			.number-description { font-size: 1rem }
			.number-icon { font-size: 3rem }
		}
	}

	#who .who-container {
		@include flex(column, center, space-between);

		.who-box {
			margin: 1rem 0;
			width: 100%;
		}
	}
	
	#sneak {

		.sneak-container {
			flex-wrap: wrap;

			.sneak-box {
				width: 100%;
				margin: 1rem 0;
			}

			.sneak-box-description { padding-top: 2rem }
		}
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #about-showcase { height: 25vh }
  
  #numbers .numbers-container {
		@include flex(column, center, space-between);

		.numbers-box .digit { font-size: 2rem }

		.numbers-box {
			height: 250px;
			width: 100%;
			margin: 1rem 0;

			.number-description { font-size: 1rem }
			.number-icon { font-size: 3rem }
		}
	}

	#who .who-container {
		@include flex(column, center, space-between);

		.who-box {
			margin: 1rem 0;
			width: 100%;
		}
	}
	
	#sneak {

		.sneak-container {
			flex-wrap: wrap;

			.sneak-box {
				width: 100%;
				margin: 1rem 0;
			}

			.sneak-box-description { padding-top: 2rem }
		}
	}
  
}