#numbers {
	position: relative;
	margin-bottom: 3rem;
	
	.numbers-container {
		@include flex(row, space-between, center);

		.numbers-box {
			width: 32%;
			height: 300px;
			background: darken($primary-dark, 10%);
			padding: 1rem 0;
			@include flex(column, space-around, center);
			
			.digit { font-size: 3rem }
		
			.number-icon { font-size: 4rem }

			.number-description { font-size: 1.3rem }
		}
	}
}