#reservation {

	form {

		.form-box {
			@include flex(row, space-between, center);
			flex-wrap: wrap;
		}

		fieldset {
			width: 48%;

			.field-box {
				margin: 1rem 0;
				position: relative;
			}
		}

		/** Inputs **/
		input, select, textarea {
			width: 100%;
			border: 1.7px solid $primary-red;
			outline: none;
			background: none;
			padding: .5rem;
			color: $primary-white;
			font-family: inherit;
			border-radius: $border-radius-primary;
			transition: border-color 300ms ease-in-out;

			&:focus { border-color: $primary-white }
		}

		::placeholder { color: $primary-white }

		/* Hide the default arrow in Internet Explorer 10 and Internet Explorer 11 */
		select::-ms-expand { display: none }

		select {
			-webkit-appearance: none;
			-moz-appearance: none;
			appearance: none; /* Remove default arrow */

			option { background: $primary-dark }
		}

		/** Add custom arrow **/
		.select-icon {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			right: 15px;
			font-size: 13.33px;
			z-index: -1;
		}

		fieldset:first-child input,
		fieldset:first-child select { cursor: pointer }

		/** Textarea **/
		fieldset:last-child {
			width: 100%;

			textarea { height: 150px }
		}
		
		button {
			margin: 1rem auto 0;
			display: block;
			width: 20%;
			padding: .7rem 0;
		}
	}
}

/*** Popup modals for reservation inputs ***/
#modals {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	z-index: 51;
	background: rgba(0, 0, 0, .6);
	@include flex(column, center, center);
	display: none;
	padding: 2rem;
	
	.close-modal {
		position: absolute;
		top: 10px;
		right: 20px;
		font-size: 2rem;

		&:hover { color: darken($primary-red, 10%) }
	}
	
	/** Date modal **/
	.date-modal {
		background: $primary-dark;
		width: 45%;
		height: 550px;
		padding: 3rem 7rem;
		@include flex(column, flex-start, center);
		text-transform: uppercase;
		position: relative;
		display: none;

		.calendar-container {
			width: 100%;
			@include flex(column, center, center);
	
			.calendar-header {
				@include flex(row, space-between, center);
				width: 80%;
	
				.calendar-month { font-size: 1.5rem }
		
				button {
					font-size: 2rem;
					width: 40px;
	
					&:hover { color: lighten($primary-dark, 20%) }
				}
			}
	
			table {
				width: 100%;
	
				tr { @include grid(repeat(7, 1fr), 0) }
	
				th, td {
					border: 1px solid $primary-red;
					@include flex(column, center, center);
					padding: .5rem;
				}
	
				th { border-bottom: none }
	
				td.filled-date:hover {
					background: lighten($primary-dark, 20%);
					cursor: pointer;
				}
			}
	
			.selected { background: #6F6F6F }

			.calendar-button {

				@include flex(row, center, center);
				width: 50%;

				#today-date { margin: 0 1rem }

				#reset-date,
				#confirm-date { display: none }
			}

			.date-info-confirmation {
				background: $primary-red;
				padding: .5rem 1rem;
				border-radius: $border-radius-primary;
				display: none;

				span { font-style: italic }
			}
		}
	}

	/** Time modal **/
	.time-modal {
		background: $primary-dark;
		position: relative;
		display: none;

		li {
			border-left: 1.5px solid $primary-red;
			border-right: 1.5px solid $primary-red;
			padding: .65rem;

			&:nth-child(odd) {
				border-top: 1.5px solid $primary-red;
				border-bottom: 1.5px solid $primary-red;
			}

			&:last-child { border-bottom: 1.5px solid $primary-red }

			&:hover {
				background: lighten($primary-dark, 20%);
				cursor: pointer;
			}
		}
	}
}