/* ----------- iPad Pro ----------- */
/* Portrait */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

		#contact {

			.contact-container {
				@include grid(repeat(3, 1fr), 1rem);
				justify-items: center;
				align-items: center;
			}
		
			.contact-box {
				
				&-description {
		
					li {
						margin: .5rem 0;
						font-weight: 300;
		
						i { margin-right: .5rem }
					}
				}
		
				.hours { @include flex(row, space-between, center) }
		
				&:nth-child(1) {
					width: 50%;
					grid-column: 1 / 2;
					grid-row: 1;
				}
		
				&:nth-child(2) {
					width: 50%;
					grid-column: 1 / -1;
					grid-row: 2;
					height: 100%;
					margin-top: 10rem;
				}
		
				&:nth-child(3) {
					width: 100%;
					grid-column: 3 / -1;
					grid-row: 1;
				}
			}
		}
		
}

/* Landscape */
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: landscape) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

		
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1023px) {
  
  #contact {

		.contact-container {
			@include grid(repeat(4, 1fr), 1rem);
			justify-items: center;
			align-items: center;
		}
	
		.contact-box {
			
			&-description {
	
				li {
					margin: .5rem 0;
					font-weight: 300;
	
					i { margin-right: .5rem }
				}
			}
	
			.hours { @include flex(row, space-between, center) }
	
			&:nth-child(1) {
				width: 100%;
				grid-column: 1 / 3;
				grid-row: 1;
			}
	
			&:nth-child(2) {
				width: 50%;
				grid-column: 1 / -1;
				grid-row: 2;
				height: 100%;
				margin-top: 10rem;
			}
	
			&:nth-child(3) {
				width: 80%;
				grid-column: 3 / -1;
				grid-row: 1;
			}
		}
	}
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  //CSS
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  #contact {

		.contact-container {
			@include grid(1fr, 1rem);
			justify-items: flex-start;
			align-items: flex-start;
		}
	
		.contact-box {
			&-description {
	
				li {
					margin: .5rem 0;
					font-weight: 300;
	
					i { margin-right: .5rem }
				}
			}
	
			.hours { @include flex(row, space-between, center) }

			&:nth-child(1) { width: 100% }
	
			&:nth-child(2) {
				width: 100%;
				grid-row: 3;
				height: 500px;

				.map-outer, iframe {
					width: 100%;
					height: 400px;
				}
			}
	
			&:nth-child(3) {
				width: 80%;
				margin-bottom: 1rem;
			}
		}
	}
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  #contact {

		.contact-container {
			@include grid(1fr, 1rem);
			justify-items: flex-start;
			align-items: flex-start;
		}
	
		.contact-box {
			&-description {
	
				li {
					margin: .5rem 0;
					font-weight: 300;
	
					i { margin-right: .5rem }
				}
			}
	
			.hours { @include flex(row, space-between, center) }

			&:nth-child(1) { width: 100% }
	
			&:nth-child(2) {
				width: 100%;
				grid-row: 3;
				height: 500px;

				.map-outer, iframe {
					width: 100%;
					height: 400px;
				}
			}
	
			&:nth-child(3) {
				width: 80%;
				margin-bottom: 1rem;
			}
		}
	}
  
}